@import url('https://rsms.me/inter/inter.css');

:root {
  --color-background: #fafafa;
  --color-text: #2d3953;
  --color-text-muted: #949aa7;

  --primary-alt: #eef;
  --blue: blue;
  --grey: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  background-color: #f9fafb;
  color: #374151;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-block: 2.5rem 1.25rem;
}

.Subheading {
  color: #9ca3af;
  margin-block: 1.25rem;
}

p {
  margin-top: 0.75rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.SiteMenu {
  display: flex;
  margin-block: 2.5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 10;
}

.SiteLink {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-inline: 0.75rem;
  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.SiteLink.active,
.SiteLink:hover {
  border-color: currentColor;
}

.Slide {
  margin-inline: auto;
  max-width: 42rem;
  padding-block: 12rem;
}

.Slide:not(.active) {
  display: none;
}

.Slide.active {
  animation: slide-in forwards 200ms, fade-in forwards 500ms;
}

@keyframes slide-in {
  from {
    transform: translateX(-0.75rem)
  }

  to {
    transform: none
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Langs {
  display: flex;
  margin-block: 1rem;
}

.Lang {
  background-color: #eef2ff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.75rem;
  padding: 0.5rem;
}

.Link {
  display: flex;
}

.Link__Arrow {
  color: #4f46e5;
  font-weight: bold;
  padding-inline-end: 1.25rem;
  pointer-events: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Link:hover .Link__Arrow {
  transform: translateX(0.5rem);
}