body {
  background-color: #fafafa;
  color: #333;
  font-family: sans-serif;
  line-height: 1.6;
  margin-inline: auto;
  margin-block:  3rem;
  max-width: 640px;
  padding: 0 1rem;
}

a {
  color: #00E;
  text-decoration: none;
}

a:hover  {
  border-bottom: 1px solid;
}

a:active {
  color: crimson;
}

h1, h2, h3 {
  line-height: 1.2;
}

.group {
  margin-bottom: 2rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25rem;
}

.tag {
  background-color: #e1e1e1;
  border-radius: 4px;
  font-size: 90%;
  font-weight: bold;
  line-height: 24px;
  margin: 0.25rem;
  padding-inline: 0.5rem;
}

.year {
  color: #888;
  display: grid;
  margin-block: 2rem;
  place-items: center;
  position: relative;
}

.year>span {
  background-color: #fafafa;
  font-weight: bold;
  font-style: italic;
  padding-inline: 1rem;
  z-index: 1;
}

.year::before {
  background-color: currentColor;
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 672px) {
  body {
    margin-block: 1rem;
  }
  
  header {
    text-align: center;
  }
}