* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: #5c5c5c;
	color: white;
}

body {
	background-color: black;
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1rem;
	line-height: 1.2;
	margin-inline: auto;
	padding-block-start: 2rem;
	padding-inline: 1rem;
	max-width: 72rem;
	width: 100%;
}

.lines {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.line {
	display: flex;
	gap: 1ex;
}

.domain {
	display: flex;
}

.user {
	color: crimson;
}

.path {
	color: cornflowerblue;
}

.input {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	outline: 0;
	overflow: hidden;
	resize: none;
	width: 100%;
}
