/* ================= Generic */
*, *::before {
    box-sizing: border-box;
}

:root {
    --c-blue: #0069ff;
    --c-black: #333;
    --c-grey-dark: #7a8390;
    --c-grey: #ddd;
    --c-white: #f6f6f6;

    --body-bg-color: #fff;
    --b-radius: 3px;
}

body {
    background-color: var(--body-bg);
    color: var(--c-black);
    font-family: 'Inter',system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

::selection {
    background-color: #22f;
    color: #fff;
}

menu {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    margin: 0 0 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

h4, ul {
    margin: 0 0 .7rem;
}

ul {
    list-style: disc;
    padding-left: 1.6rem;
}

p {
    margin: 0 0 1rem;
}

a {
    color: var(--c-blue);
    text-decoration: none;
}

a:not(.button):hover {
    box-shadow: 0 2px 0 currentColor;
}

/* ================= Layout */
.wrap {
    margin: 0 auto;
    max-width: 48rem;
    padding: 0 1rem;
}

.site-header {
    align-items: flex-end;
    border-bottom: 1px solid var(--c-grey);
    display: flex;
    font-weight: bold;
    padding: 2rem 0;
}

.site-header .wrap {
    flex: 1;
}

.site-header h1,
.site-header h3 {
    margin: 0;
}

.site-header h3 {
    color: var(--c-grey-dark);
}

.site-content {
    padding: 2rem 0;
}

.button-bar {
    display: flex;
}

.button-bar a {
    margin-right: 1rem;
}

.section-title {
    margin-top: 1.5rem;
}

/* ================= Button */
.button {
    appearance: none;
    align-items: center;
    border: 1px solid;
    border-radius: var(--b-radius);
    color: var(--darkgray-1);
    color: var(--black);
    cursor: pointer;
    display: flex;
    font-size: 90%;
    font-weight: bold;
    line-height: 2.25rem;
    transition: all .2s;
    padding: 0 .75rem;
    user-select: none;
}

.button .icon {
    height: 1.5rem;
    margin-right: .5rem;
}

.button:hover,
.button:focus {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 #ccc;
    color: var(--c-grey-dark);
}

.button:active,
.button:focus {
    border-color: var(--blue-1);
    outline: 0;
}

/* ================= Timeline */
.timeline {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}

.timeline > li {
    border-left: 2px solid transparent;
    padding-left: 2rem;
    padding-bottom: 1rem;
    position: relative;
    list-style: none;
}

.timeline > li:not(:last-child) {
    border-left-color: var(--c-blue);
}

.timeline__marker {
    background-color: var(--body-bg-color);
    display: grid;
    height: 30px;
    place-items: center;
    position: absolute;
    left: -11px;
    width: 20px;
    z-index: 1;
}

.timeline__marker::before {
    border: 2px solid var(--c-blue);
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
}

.timeline__marker::after {
    background-color: var(--c-blue);
    content: '';
    border-radius: 50%;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
}

.timeline time {
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 120%;
    height: 30px;
    margin-bottom: 1rem;
}

.timeline section {
    border: 1px solid var(--c-grey);
    border-radius: var(--b-radius);
    padding: 1.2rem 1.5rem;
}

.timeline section :last-child {
    margin-bottom: 0;
}

.timeline .logo {
    position: absolute;
    top: calc(30px + 1rem);
    left: 100%;
    margin-left: 2rem;
    pointer-events: none;
}

.logo img {
    display: block;
    user-select: none;
}

/* ================= Icons */
.icon-list {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: min-content;
    gap: .3rem 1rem;
}

.icon-list dt {
    align-items: center;
    display: flex;
}

.icon-list dd {
    font-size: 90%;
    font-weight: bold;
    margin: 0;
}

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.1rem;
    vertical-align: middle;
    width: 1.1rem;
}

.icon.cmake { background-image: url('icons/cmake.svg'); }
.icon.cpp { background-image: url('icons/cpp.svg'); }
.icon.css { background-image: url('icons/css.svg'); }
.icon.git { background-image: url('icons/git.svg'); }
.icon.html { background-image: url('icons/html.svg'); }
.icon.js { background-image: url('icons/js.svg'); }
.icon.qt { background-image: url('icons/qt.svg'); }